<p id="notice"><%= notice %></p>

<h1>Talks</h1>

<table>
  <thead>
    <tr>
      <th>Conference Day</th>
      <th>Title</th>
      <th>Presenter</th>
    </tr>
  </thead>

  <tbody>
    <% @talks.each do |talk| %>
      <tr>
        <td><%= talk.conference_day %></td>
        <td><%= link_to talk.title, talk %></td>
        <td><%= talk.presenter %></td>
      </tr>
    <% end %>
  </tbody>
</table>
